*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

gradle.properties

app/src/main/java/com/example/currentplacedetailsonmap/Secret.java

COVID-19-PHA/secrets.py
