certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cryptography==2.9
dash==1.9.1
dash-bootstrap-components==0.9.1
dash-core-components==1.8.1
dash-daq==0.4.0
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.1
Flask==1.1.2
Flask-Compress==1.4.0
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
numpy==1.22.0
pkg-resources==0.0.0
pycparser==2.20
requests==2.23.0
six==1.14.0
tinydb==3.15.2
urllib3==1.25.8
Werkzeug==1.0.1
